.nav {
    width: 100%; 
    display: flex; 
    justify-content: center;
  }
  
  .wrapper {
    display: flex; 
    justify-content: space-between;
    width: 100%;
  }
  .icon{
    align-self: center;
    padding: 15px;

  }
  .question{
    margin-right: 20px;
  }

  .heading{
    padding: 12px;
  }
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
  }
  p{
    text-align: center;
    
  }
  .span{

    background-color: aqua;
    border-radius: 50%;
    padding: 5px;
  }